PORT=3000

# Base de Datos (Credenciales por defecto de XAMPP / Manual). comentar si usas docker
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=prog3_turnos

# Credenciales para Docker (Descomentar si usás npm run infra:up)
# DB_HOST=localhost
# DB_ROOT_PASS=root1234
# DB_USER=clinica_user
# DB_PASS=clinica1234
# DB_NAME=prog3_turnos

# Seguridad
JWT_SECRET=ponete_un_secreto_largo_aca
JWT_EXPIRES_IN=1h

# CORS
ALLOWED_ORIGINS=http://localhost:5173

# --- CONFIGURACIÓN PARA TESTS (Opcional) ---
# Si vas a correr los tests (Vitest), asegurate de que exista esta base.
# DB_NAME=prog3_turnos_test
